{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Добро пожаловать!</h1>
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Лабораторная работа №3</h5>
                <p class="card-text">
                    В данной лабораторной работе реализованы следующие функции:
                </p>
                <ul>
                    <li>Счетчик посещений страницы</li>
                    <li>Аутентификация пользователей</li>
                    <li>Секретная страница для авторизованных пользователей</li>
                </ul>
                <p class="card-text">
                    Используйте навигационное меню для перехода между страницами.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 